<h1>Listing comparas</h1>

<table>
  <tr>
    <th>Asiento</th>
    <th>Orden</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comparas.each do |compara| %>
  <tr>
    <td><%= compara.asiento_id %></td>
    <td><%= compara.orden %></td>
    <td><%= link_to 'Show', compara %></td>
    <td><%= link_to 'Edit', edit_compara_path(compara) %></td>
    <td><%= link_to 'Destroy', compara, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Compara', new_compara_path %>
