<p id="notice"><%= notice %></p>

<p>
  <b>Asiento:</b>
  <%= @compara.asiento_id %>
</p>

<p>
  <b>Orden:</b>
  <%= @compara.orden %>
</p>


<%= link_to 'Edit', edit_compara_path(@compara) %> |
<%= link_to 'Back', comparas_path %>
