<p id="notice"><%= notice %></p>
<strong>Dep:</strong>  <%= @asiento.dep.desc %><br />  
<strong>Cap code:</strong>  <%= @asiento.cap_code %><br />  
<strong>Desc:</strong>  <%= @asiento.desc %><br />  
<strong>Cantidad:</strong>  <%= @asiento.cantidad %><br />  
<strong>Mini:</strong>  <%= @asiento.mini.desc %><br />  
<strong>Prog:</strong>   <%= @asiento.prog.desc %><br />

<%= link_to 'Edit', edit_asiento_path(@asiento) %> |
<%= link_to 'Back', asientos_path %>

<h2>Cantidades similares</h2>
<%= similar_cantidad(@asiento).html_safe %>
<%= busca_sub(@asiento).html_safe %>
<%= busca_item(@asiento).html_safe %>