<h1>Listing deps</h1>

<table>
  <tr>
    <th>Codigo</th>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deps.each do |dep| %>
  <tr>
    <td><%= dep.codigo %></td>
    <td><%= dep.desc %></td>
    <td><%= link_to 'Show', dep %></td>
    <td><%= link_to 'Edit', edit_dep_path(dep) %></td>
    <td><%= link_to 'Destroy', dep, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dep', new_dep_path %>
