<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @mini.codigo %>
</p>

<p>
  <b>Desc:</b>
  <%= @mini.desc %>
</p>


<%= link_to 'Edit', edit_mini_path(@mini) %> |
<%= link_to 'Back', minis_path %>
